<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ロサンゼルス</title>
</head>
<body>
  <div style="display: flex; align-items: center;">
    <img th:src="@{/images/region/001.jpg}" alt="ロサンゼルス" style="width:700px; height:auto; margin-right:15px;">
    <p>夢を追いかける人々の街、世界の映画産業の中心地。 「ハリウッド・サイン」を背景に記念写真を撮り、スターの仲間入り気分を味わいましょう。 ハリウッド大通りでは、有名俳優たちの手形やサインが刻まれた「ウォーク・オブ・フェーム」を散策。 TCLチャイニーズ・シアターで、お気に入りのスターの足跡を見つけるのも楽しみの一つです。 映画史の栄光と、現代のエンターテイメントが交差するこの場所で、あなただけのストーリーを見つけてください。 誰もが知る“あの”場所で、きらめく才能の気配を感じましょう。</p>
  </div>
</body>

</html>