<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ラスベガス</title>
</head>
<body>
  <div style="display: flex; align-items: center;">
    <img th:src="@{/images/region/002.jpg}" alt="ラスベガス" style="width:700px; height:auto; margin-right:15px;">
    <p>夜空を焦がすネオンの光、世界最高峰のエンターテイメントが集結する「不夜城」。 豪華絢爛なカジノで一攫千金を夢見たり、一流シェフのグルメに舌鼓を打ったり。 息をのむようなシルク・ドゥ・ソレイユのショーや、有名DJの熱狂的なパフォーマンス。 ベネチアのゴンドラやパリのエッフェル塔を再現したホテル街を歩けば、世界旅行気分に。 刺激と非日常に満ちた、大人のための最高の遊び場があなたを待っています。 一晩で人生が変わるかもしれない、究極の興奮を体験してみませんか。</p>
  </div>
</body>

</html>