<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/IRN}">
				<img th:src="@{/images/food/001.jpg}" alt="イン・アンド・アウト・バーガータコス">
				</a>
	<a th:href="@{/IRN}">
				<img th:src="@{/images/food/002.jpg}" alt="フードトラック料理">
				</a>
	<a th:href="@{/IRN}">
	            <img th:src="@{/images/food/001.jpg}" alt="イン・アンド・アウト・バーガータコス">
				</a>
	<a th:href="@{/IRN}">
				<img th:src="@{/images/food/001.jpg}" alt="イン・アンド・アウト・バーガータコス">
				</a>
	
</body>
</html>